@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     
}
<partial name="_Notification"/>
<div class="yg-testimonial">
    <div class="container yg-container-full">
        <div class="row yg-gutter-0" style="padding-top: 6rem;">
            <div class="col-md-5 col-sm-12 animate-box" data-animate-effect="fadeInLeft" style="background-color: rgb(247, 247, 247);">
                <div class="testimonial-image" >
                    <img src="~/images/testimonial.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-12 animate-box d-flex align-items-center justify-content-center" data-animate-effect="fadeInRight" >
                <div class="container" style="background-color:white">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <h2 class="text-center mb-4">Login</h2>
                            <form asp-action="Login" asp-controller="Auth" method="post" id="loginForm"> 
                                <div class="mb-3">
                                    <label for="Username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="Username" placeholder="Enter your username" name="Username" required>
                                    <small id="usernameError" style="display:none; color:red"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="Password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="Password" placeholder="Enter your password" name="Password" required>
                                    <small id="passwordError" style="display:none; color:red"></small>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <div class="d-grid gap-2 mt-2">
                                    <a asp-action="Signup" asp-controller="Auth">Registrate an account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
const loginForm = document.getElementById("loginForm");
const username = document.getElementById("Username");
const password = document.getElementById("Password");
const usernameError = document.getElementById("usernameError");
const passwordError = document.getElementById("passwordError");
loginForm.addEventListener("submit", e => {
  e.preventDefault();
  checkInputs();
});
function checkInputs() { 
    var error = false;
    const usernameValue = username.value.trim();
    const passwordValue = password.value.trim();
    if (usernameValue === "") {
        usernameError.style.display = "block";
        usernameError.textContent = "Username must not be empty";
        error = true;
    }
    else {
        usernameError.style.display = "none";
    }
    if (usernameValue.length < 6 || usernameValue.length > 30) {
        usernameError.style.display = "block";
        usernameError.textContent = "Username must be between 6 to 30 characters";
        error = true;
    }
    else {
        usernameError.style.display = "none";
    }
    if (passwordValue === "") {
        passwordError.style.display = "block";
        passwordError.textContent = "Password must not be empty";
        error = true;
    }
    else {
        passwordError.style.display = "none";
    }
    if (passwordValue.length < 6 || passwordValue.length > 40) {
        passwordError.style.display = "block";
        passwordError.textContent = "Password must be between 6 to 40 characters";
        error = true;
    }
    else {
        passwordError.style.display = "none";
    }
    if (!error) {
        loginForm.submit();
    }
}
</script>
