@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Contact Section -->
<div class="yg-contact-section mt-10">
    <div class="container" style="margin-top: 2rem;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="yg-details-block yg-text-center">
                    <h3 class="yg-details-title">CONTACT US</h3>
                    <p>New York and Melbourne Yoga Center is at your service.</p>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="row">
                    <!-- Melbourne Office -->
                    <div class="col-lg-6 col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInUp">
                        <div class="yg-details-block">
                            <div class="yg-class-box">
                                <h3>MELBOURNE OFFICE</h3>
                                <div class="yg-class-table">
                                    <ul>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-mobile"></i>Phone</span> <span>+61 3 8636 0000</span> </li>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-email"></i>Email</span> <span>info@yogaguru.au</span> </li>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-instagram"></i>Instagram</span> <span></span> </li>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-facebook"></i>Facebook</span> <span>/yogaguru_au</span> </li>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-twitter"></i>Twitter</span> <span>/yogaguru_au</span> </li>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-youtube"></i>Youtube</span> <span>/yogaguru</span> </li>
                                        <li> <span class="yg-class-table-light-text"><i class="ti-location-pin"></i>Location</span> <span>2133 Russell Street, Melbourne</span> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial Section  -->
<div class="yg-testimonial-section-first">
    <div class="container yg-container-full">
        <div class="row yg-gutter-0">
            <div class="col-md-7 col-sm-12 animate-box" data-animate-effect="fadeInLeft">
                <div class=""> <img src="images/testimonial.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-md-5 col-sm-12 animate-box" data-animate-effect="fadeInRight">
                <div class="yg-text-block yg-text-block-h700">
                    <div class="yg-text-block-center yg-text-block-w60">
                        <div class="yg-testimonial-section-first-title">"Great teacher, great environment, great energy. Awesome specials for new yogis."</div>
                        <div class="yg-testimonial-section-first-subtitle">— Lee Buoy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
