<!-- Map Section -->
<div class="yg-map-section">
    <div class="row">
        <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInUp">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.235936509069!2d106.68575927578419!3d10.793233258881967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cd96c86765%3A0x12ec8a07c569f02e!2sSivananda%20Yoga%20Vedanta%20Center%20Ho%20Chi%20Minh!5e0!3m2!1svi!2s!4v1688534963362!5m2!1svi!2s" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<!-- About Us Section -->
<div class="yg-contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="yg-details-block yg-text-center">
                    <h3 class="yg-details-title">ABOUT US</h3>
                    <p>Welcome to our yoga center, where we are dedicated to promoting health, wellness, and mindfulness through the practice of yoga. Our experienced instructors are passionate about guiding students on their yoga journey, helping them achieve physical strength, mental clarity, and inner peace. Whether you are a beginner or an advanced practitioner, we offer a variety of classes suitable for all levels. Join us and experience the transformative power of yoga in a supportive and nurturing environment.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->
<div class="yg-contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="yg-details-block yg-text-center">
                    <h3 class="yg-details-title">CONTACT US</h3>
                    <p>YOGAGURU is at your service.</p>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12"></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInUp">
                            <div class="yg-details-block">
                                <div class="yg-class-box">
                                    <div class="yg-class-table">
                                        <ul>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-mobile"></i>Phone</span> <span>+1 212-123-9999</span> </li>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-email"></i>Email</span> <span>info@yogaguru.com</span> </li>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-instagram"></i>Instagram</span> <span>@@yogaguru</span> </li>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-facebook"></i>Facebook</span> <span>/yogaguru</span> </li>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-twitter"></i>Twitter</span> <span>/yogaguru</span> </li>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-youtube"></i>Youtube</span> <span>/yogaguru</span> </li>
                                            <li> <span class="yg-class-table-light-text"><i class="ti-location-pin"></i>Location</span> <span>28 Liberty Street, NY 10005, US.</span> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .yg-contact-section {
            padding-bottom: 0;
        }
    </style>
