@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notification"/>
<!-- Slider -->
        <div class="yg-homepage-slider">
            <div class="container yg-container-90">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="yg-slider">
                            <div class="yg-slider-item">
                                <a asp-controller="Class" asp-action="Index"> <img class="yg-slider-img" src="~/images/slider/slider01.jpg" alt="">
                                    <div class="yg-slider-caption">
                                        <div class="yg-slider-title animate-box" data-animate-effect="fadeInUp">Balance your Life</div>
                                    </div>
                                </a>
                            </div>
                            <div class="yg-slider-item">
                                <a asp-controller="Class" asp-action="Index"> <img class="yg-slider-img" src="~/images/slider/slider02.jpg" alt="">
                                    <div class="yg-slider-caption">
                                        <div class="yg-slider-title">Yoga for Everybody</div>
                                    </div>
                                </a>
                            </div>
                            <div class="yg-slider-item">
                                <a asp-controller="Class" asp-action="Index"> <img class="yg-slider-img" src="~/images/slider/slider03.jpg" alt="">
                                    <div class="yg-slider-caption">
                                        <div class="yg-slider-title">Yoga is skill in Action</div>
                                    </div>
                                </a>
                            </div>
                            <div class="yg-slider-item">
                                <a asp-controller="Class" asp-action="Index"> <img class="yg-slider-img" src="~/images/slider/slider04.jpg" alt="">
                                    <div class="yg-slider-caption">
                                        <div class="yg-slider-title">Everybody Love Yoga</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yg-testimonial-section-first">
            <div class="container yg-container-full">
                <div class="row yg-gutter-0">
                    <div class="col-md-7 col-sm-12">
                        <div class=""> <img src="images/testimonial.jpg" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="yg-text-block yg-text-block-h700">
                            <div class="yg-text-block-center yg-text-block-w60">
                                <div class="yg-testimonial-section-first-title">"Great teacher, great environment, great energy. Awesome specials for new yogis."</div>
                                <div class="yg-testimonial-section-first-subtitle">— Lee Buoy</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>