<div class="yg-img-section">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-sm-6 d-flex flex-column justify-content-center align-items-center">
            <img src="~/images/tumbleweed.gif" class="img-fluid" alt="" style="width:50%">
            <div class="font-weight-bold py-2" style="font-size:1.5rem;">What are you finding here !</div>
        </div>
    </div>
</div>
